body {
  background-color: #162832;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.header {
  text-align: center;
  color: white;
}

h1 {
  font-size: 20px;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}

.mainContainer > div {
  width: 75%;
  margin: auto;
}

.playerSide {
  height: auto;
  background-color: #162832;
  text-align: center;
  flex: 2;
}

.dealerSide {
  height: auto;
  background-color: #162832;
  text-align: center;
  flex: 2;
}

.controls {
  background-color: #162832;
  height: auto;
  flex: 1;
}

.controlFlex {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  max-width: 450px;
  margin: auto;
}

.controlFlex > button {
  width: 125px;
  height: 50px;
  border-radius: 5px;
  background-color: darkgray;
  border: none;
  font-weight: bold;
  color: black;
}
.controlFlex > button:hover {
  width: 125px;
  height: 50px;
  border-radius: 5px;
  background-color: white;
}

span {
  color: yellow;
}

.playerCards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

#playerCardsInner,
#dealerCardsInner {
  padding-top: 5%;
}

.playerCards > div {
  background-color: white;
  width: auto;
  height: 250px;
  flex: 1;
  min-width: 115px;
  max-width: 150px;
  min-height: 200px;
  max-height: 205px;
  margin: auto;
  border: solid 2px red;
  border-radius: 10px;
  margin: 10px 10px 0 0;
}

.dealerCards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.dealerCards > div {
  background-color: white;
  width: auto;
  height: 250px;
  flex: 1;
  min-width: 115px;
  max-width: 150px;
  min-height: 200px;
  max-height: 205px;
  margin: auto;
  border: solid 2px red;
  border-radius: 10px;
  margin: 10px 10px 0 0;
}

.dealerCards > :first-child {
  background-color: darkred;
}

#playerCardsInner {
  font-size: 46px;
  animation: flyInDown 0.5s ease;
}

#dealerCardsInner {
  font-size: 46px;
  animation: flyInDown 0.75s ease;
}

#dealerCards > :first-child {
  font-size: 46px;
  animation: flyInDown 0.5s ease;
}

@keyframes flyInDown {
  0% {
    transform: translateY(-800px);
  }
  100% {
    transform: translateY(0px);
  }
}

.jackInTheBox {
  animation-duration: 4s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  margin: auto;
  font-size: 32px;
  color: green;
  z-index: 2;
  position: relative;
  bottom: 2.5px;
  bottom: 2.5px;
  display: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .playerCards > div {
    width: auto;
    height: 250px;
    flex: 1;
    max-width: 70px;
    max-height: 125px;
    min-width: 55px;
    min-height: 100px;
    margin: auto;
    border: solid 2px red;
    border-radius: 10px;
    margin: 10px 10px 0 0;
  }
  .dealerCards > div {
    width: auto;
    height: 250px;
    flex: 1;
    max-width: 70px;
    max-height: 125px;
    min-width: 55px;
    min-height: 100px;
    margin: auto;
    border: solid 2px red;
    border-radius: 10px;
    margin: 10px 10px 0 0;
  }

  #playerCardsInner {
    font-size: 30px;
  }
  #dealerCardsInner {
    font-size: 30px;
  }
  #youWin {
    font-size: medium;
  }
}

a {
  text-decoration: none;
  color: gray;
}

.heart {
  color: red;
}

#footer {
  opacity: 0.5;
  padding-bottom: 10px;
}

#footer:hover {
  opacity: 1;
}
